<div class="home-background">
    <div class="navbar-home-moodz">
        <ul>
            <li><a href="default">Home</a></li>
            <li><a href="news">News</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="about">About</a></li>
        </ul>

        <div class="simple_form search">
            <div class="search-form-control form-group">
                <input class="form-control string required"/>
                <button class="btn btn-success">
                    <i class="fas fa-search"></i><span>Search</span>
                </button>
            </div>
        </div>
    </div>
</div>